<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3262964</key>
	<dict>
		<key>com.adobe.distiller</key>
		<array>
			<string>6.0.*</string>
		</array>
		<key>com.adobe.Acrobat</key>
		<array>
			<string>6.0</string>
			<string>5.*</string>
		</array>
		<key>com.adobe.Acrobat.Pro</key>
		<array>
			<string>5.*</string>
			<string>6.0</string>
			<string>6.0.*</string>
		</array>
		<key>com.adobe.AfterEffects</key>
		<array>
			<string>5.*</string>
			<string>6.0</string>
			<string>6.0.*</string>
		</array>
		<key>com.adobe.GoLive</key>
		<array>
			<string>6.*</string>
		</array>
		<key>com.adobe.Illustrator</key>
		<array>
			<string>1.1</string>
			<string>10.0.*</string>
			<string>10.0</string>
		</array>
		<key>com.adobe.ImageReady</key>
		<array>
			<string>7.0</string>
			<string>7.0.*</string>
			<string>6.9.9</string>
		</array>
		<key>com.adobe.InCopy</key>
		<array>
			<string>179</string>
			<string>183</string>
			<string>2.0.*</string>
		</array>
		<key>com.adobe.InDesign</key>
		<array>
			<string>314</string>
			<string>478</string>
			<string>483</string>
			<string>551</string>
			<string>554</string>
			<string>567</string>
			<string>575</string>
			<string>577</string>
			<string>578</string>
			<string>579</string>
			<string>2.0*</string>
		</array>
		<key>com.adobe.LiveMotion</key>
		<array>
			<string>2.0</string>
		</array>
		<key>com.adobe.Photoshop</key>
		<array>
			<string>7.0</string>
			<string>7.0.*</string>
			<string>6.9.9</string>
		</array>
		<key>com.adobe.Photoshop.Elements</key>
		<array>
			<string>2.0</string>
			<string>2.0.*</string>
		</array>
		<key>com.adobe.Premiere</key>
		<array>
			<string>6.*</string>
		</array>
		<key>com.adobe.Reader</key>
		<array>
			<string>6.0</string>
			<string>6.0.*</string>
		</array>
		<key>com.adobe.acrobat.full</key>
		<array>
			<string>5.*</string>
		</array>
		<key>com.adobe.acrobat.reader</key>
		<array>
			<string>5.*</string>
		</array>
		<key>de.adobe.Photoshop</key>
		<array>
			<string>7.0</string>
		</array>
	</dict>
</dict>
</plist>
