<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>DateAndTime</string>
	<key>CFBundleIconFile</key>
	<string>DateAndTime.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.preference.datetime</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>4.0</string>
	<key>NSMainNibFile</key>
	<string>DateAndTimePref</string>
	<key>NSPrefPaneSearchParameters</key>
	<string>DateAndTimePref</string>
	<key>NSPrincipalClass</key>
	<string>Com_Apple_PreferencePanes_DateTimePref</string>
</dict>
</plist>
