<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CIPlugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.widgetplugin.ciplugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CIPlugin</string>
	<key>CFBundlePackageType</key>
	<string>WBPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSPrincipalClass</key>
	<string>MyPluginClass</string>
	<key>WebPluginDescription</key>
	<string>CIFilter Preview Plugin for CIFilterBrowser</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>x-cipreview/x-cipreview</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>cipreview</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>CIFilterBrowserPreview</string>
		</dict>
	</dict>
	<key>WebPluginName</key>
	<string>CIFilter Preview Plugin</string>
</dict>
</plist>
