<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>WhitePagesPlugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.widget.people.plugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>WhitePagesPlugin</string>
	<key>CFBundlePackageType</key>
	<string>WBPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>NSPrincipalClass</key>
	<string>WPSearchField</string>
	<key>WebPluginDescription</key>
	<string>Search Field for White Pages Widget</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>x-wpsearchfield/x-wpsearchfield</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>wpsearchfield</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>WhitePagesSearchField</string>
		</dict>
	</dict>
	<key>WebPluginName</key>
	<string>WhitePagesSearchField Plugin</string>
</dict>
</plist>
