<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIHelperClass</key>
	<string>DockSyncUIHelper</string>
	<key>ConflictResolverClass</key>
	<string>DockSyncConflictHelper</string>
	<key>DataClasses</key>
	<array>
		<dict>
			<key>Name</key>
			<string>com.apple.dock.items</string>
			<key>ImagePath</key>
			<string>Dock.png</string>
			<key>Category</key>
			<string>Application Settings</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>com.apple.dashboard.widgets</string>
			<key>ImagePath</key>
			<string>dashboard.png</string>
			<key>Category</key>
			<string>Application Settings</string>
		</dict>
	</array>
	<key>Entities</key>
	<array>
		<dict>
			<key>Attributes</key>
			<array>
				<dict>
					<key>Name</key>
					<string>path</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
					<key>Name</key>
					<string>label</string>
					<key>Type</key>
					<string>string</string>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
				</dict>
				<dict>
					<key>Name</key>
					<string>type</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>properties</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
					<key>Type</key>
					<string>dictionary</string>
				</dict>
			</array>
			<key>DataClass</key>
			<string>com.apple.dock.items</string>
			<key>IdentityProperties</key>
			<array>
				<string>path</string>
			</array>
			<key>Name</key>
			<string>com.apple.dock.item</string>
		</dict>
		<dict>
			<key>Attributes</key>
			<array>
				<dict>
					<key>Name</key>
					<string>widgetID</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>bundleID</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>properties</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
					<key>Type</key>
					<string>dictionary</string>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
				</dict>
				<dict>
					<key>Name</key>
					<string>inLayer</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>position</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
					<key>Type</key>
					<string>string</string>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
				</dict>
			</array>
			<key>DataClass</key>
			<string>com.apple.dashboard.widgets</string>
			<key>IdentityProperties</key>
			<array>
				<string>bundleID</string>
				<string>widgetID</string>
			</array>
			<key>Name</key>
			<string>com.apple.dashboard.widget</string>
			<key>ExcludeFromDataChangeAlert</key>
			<true/>
		</dict>
		<dict>
			<key>Attributes</key>
			<array>
				<dict>
					<key>Name</key>
					<string>name</string>
					<key>Type</key>
					<string>string</string>
				</dict>
			</array>
			<key>DataClass</key>
			<string>com.apple.dock.items</string>
			<key>IdentityProperties</key>
			<array>
				<string>name</string>
			</array>
			<key>Relationships</key>
			<array>
				<dict>
					<key>Name</key>
					<string>allItems</string>
					<key>Ordinality</key>
					<string>many</string>
					<key>Ordering</key>
					<string>weak</string>
					<key>Target</key>
					<array>
						<string>com.apple.dock.item</string>
					</array>
				</dict>
			</array>
			<key>Name</key>
			<string>com.apple.dock.itemlist</string>
			<key>ExcludeFromDataChangeAlert</key>
			<true/>
		</dict>
	</array>
	<key>Name</key>
	<string>com.apple.Dock</string>
	<key>MajorVersion</key>
	<integer>1</integer>
	<key>MinorVersion</key>
	<integer>0</integer>
</dict>
</plist>
