<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>StartupDisk</string>
	<key>CFBundleGetInfoString</key>
	<string>Version 11.5.1, Copyright © 2000-2011 Apple Inc. All rights reserved.</string>
	<key>CFBundleIconFile</key>
	<string>StartupDiskPref.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.preference.startupdisk</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Startup Disk</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>11.5.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>85</string>
	<key>NSMainNibFile</key>
	<string>StartupDiskPref</string>
	<key>NSPrefPaneSearchParameters</key>
	<string>StartupDisk</string>
	<key>NSPrefPanelIconLabel</key>
	<string>Startup Disk</string>
	<key>NSPrincipalClass</key>
	<string>SDPrefController</string>
</dict>
</plist>
