<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>UniversalAccessPref</string>
	<key>CFBundleGetInfoString</key>
	<string>Universal Access Preference Pane</string>
	<key>CFBundleIconFile</key>
	<string>UniversalAccessPref.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.preference.universalaccess</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Universal Access</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>4.3</string>
	<key>NSMainNibFile</key>
	<string>UniversalAccessPref</string>
	<key>NSPrefPaneSearchParameters</key>
	<string>UniversalAccess</string>
	<key>NSPrincipalClass</key>
	<string>UniversalAccessPref</string>
</dict>
</plist>
