<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Ink</string>
	<key>CFBundleIconFile</key>
	<string>Ink.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.preference.ink</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Ink</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>89</string>
	<key>NSMainNibFile</key>
	<string>Ink</string>
	<key>NSPrefPaneHardwareTest</key>
	<string>TabletFinder</string>
	<key>NSPrefPaneIOServiceToMatch</key>
	<string>IOService</string>
	<key>NSPrefPaneSearchParameters</key>
	<string>Ink</string>
	<key>NSPrincipalClass</key>
	<string>InkPref</string>
</dict>
</plist>
