<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<dict>
			<key>Generation</key>
			<string>1</string>
			<key>URIDictionary</key>
			<dict>
				<key></key>
				<string>http://kids.discovery.com/</string>
				<key>title</key>
				<string>Discovery Kids</string>
			</dict>
			<key>URLString</key>
			<string>http://kids.discovery.com/</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeLeaf</string>
		</dict>
		<dict>
			<key>Generation</key>
			<string>1</string>
			<key>URIDictionary</key>
			<dict>
				<key></key>
				<string>http://svt.se/bolibompa/</string>
				<key>title</key>
				<string>Bolibompa</string>
			</dict>
			<key>URLString</key>
			<string>http://svt.se/bolibompa/</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeLeaf</string>
		</dict>
		<dict>
			<key>Generation</key>
			<string>1</string>
			<key>URIDictionary</key>
			<dict>
				<key></key>
				<string>http://www.howstuffworks.com/</string>
				<key>title</key>
				<string>HowStuffWorks</string>
			</dict>
			<key>URLString</key>
			<string>http://www.howstuffworks.com/</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeLeaf</string>
		</dict>
		<dict>
			<key>URIDictionary</key>
			<dict>
				<key></key>
				<string>http://www.nrm.se/</string>
				<key>title</key>
				<string>Naturhistoriska</string>
			</dict>
			<key>URLString</key>
				<string>http://www.nrm.se/</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeLeaf</string>
		</dict>
		<dict>
			<key>Generation</key>
			<string>1</string>
			<key>URIDictionary</key>
			<dict>
				<key></key>
				<string>http://kids.yahoo.com/</string>
				<key>title</key>
				<string>Yahoo! Kids</string>
			</dict>
			<key>URLString</key>
			<string>http://kids.yahoo.com/</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeLeaf</string>
		</dict>
		<dict>
			<key>Generation</key>
			<string>1</string>
			<key>URIDictionary</key>
			<dict>
				<key></key>
				<string>http://www.disney.se/</string>
				<key>title</key>
				<string>Disney</string>
			</dict>
			<key>URLString</key>
				<string>http://www.disney.se/</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeLeaf</string>
		</dict>
		<dict>
			<key>Generation</key>
			<string>1</string>
			<key>URIDictionary</key>
			<dict>
				<key></key>
				<string>http://www.busungar.com/</string>
				<key>title</key>
				<string>Busungar</string>
			</dict>
			<key>URLString</key>
				<string>http://www.busungar.com/</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeLeaf</string>
		</dict>
		<dict>
			<key>Generation</key>
			<string>1</string>
			<key>URIDictionary</key>
			<dict>
				<key></key>
				<string>http://www.astridlindgren.se/</string>
				<key>title</key>
				<string>Astrid Lindgren</string>
			</dict>
			<key>URLString</key>
				<string>http://www.astridlindgren.se/</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeLeaf</string>
		</dict>
		<dict>
			<key>URIDictionary</key>
			<dict>
				<key></key>
				<string>http://www.alfons.se/</string>
				<key>title</key>
				<string>Alfons</string>
			</dict>
			<key>URLString</key>
				<string>http://www.alfons.se/</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeLeaf</string>
		</dict>
<dict>
			<key>Generation</key>
			<string>1</string>
			<key>URIDictionary</key>
			<dict>
				<key></key>
				<string>http://www.bamse.net/</string>
				<key>title</key>
				<string>Bamse</string>
			</dict>
			<key>URLString</key>
				<string>http://www.bamse.net/</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeLeaf</string>
		</dict>
	</array>
	<key>Title</key>
	<string>Bokmärkesrad</string>
	<key>WebBookmarkType</key>
	<string>WebBookmarkTypeList</string>
</dict>
</plist>
