<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>TimeMachine</string>
	<key>CFBundleIconFile</key>
	<string>TimeMachine</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.prefs.backup</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>10.6.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>10.6.5</string>
	<key>NSMainNibFile</key>
	<string>TMPreferencePane</string>
	<key>NSPrefPaneIconFile</key>
	<string>TimeMachine.icns</string>
	<key>NSPrefPaneIconLabel</key>
	<string>Time Machine</string>
	<key>NSPrefPaneSearchParameters</key>
	<string>TMPref</string>
	<key>NSPrincipalClass</key>
	<string>TMPreferencePane</string>
</dict>
</plist>
