<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>moveModifier</key>
	<integer>2097152</integer>
	<key>moveVirtualKeys</key>
	<array>
		<integer>89</integer>
		<integer>91</integer>
		<integer>92</integer>
		<integer>86</integer>
		<integer>88</integer>
		<integer>83</integer>
		<integer>84</integer>
		<integer>85</integer>
		<integer>87</integer>
		<integer>82</integer>
		<integer>65</integer>
	</array>
</dict>
</plist>
