<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mouseDriverInitialDelay</key>
	<integer>1</integer>
	<key>mouseDriverMaxSpeed</key>
	<integer>11</integer>
	<key>mouseDriver</key>
	<false/>
	<key>mouseDriverCursorSize</key>
	<real>1</real>
	<key>stickyKey</key>
	<false/>
	<key>stickyKeyShowWindow</key>
	<true/>
	<key>useShortcutKeys</key>
	<false/>
	<key>stickyKeyBeepOnModifier</key>
	<true/>
	<key>slowKey</key>
	<false/>
	<key>slowKeyDelay</key>
	<integer>250</integer>
	<key>slowKeyBeepOn</key>
	<true/>
	<key>closeViewShowPreview</key>
	<false/>
	<key>closeViewShowSolidPreview</key>
	<true/>
	<key>closeViewSmoothImages</key>
	<true/>
	<key>closeViewNearPoint</key>
	<real>1</real>
	<key>closeViewFarPoint</key>
	<real>1</real>
	<key>closeViewPanningMode</key>
	<integer>1</integer>
	<key>closeViewZoomFollowsFocus</key>
	<false/>
	<key>keyCloseViewZoomFactor</key>
	<real>1</real>
	<key>speechEnabled</key>
	<true/>
	<key>contrast</key>
	<real>0</real>
	<key>voiceOverOnOffKey</key>
	<false/>
</dict>
</plist>
