<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>FibreChannel</string>
	<key>CFBundleIconFile</key>
	<string>FibreChannel</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.prefpanel.fibrechannel</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Fibre Channel</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7</string>
	<key>CFBundleSignature</key>
	<string>rhws</string>
	<key>CFBundleVersion</key>
	<string>1.7</string>
	<key>NSMainNibFile</key>
	<string>FibreChannelPref</string>
	<key>NSPrefPaneIOServiceToMatch</key>
	<string>AppleLSIFusionFC</string>
	<key>NSPrefPaneIconFile</key>
	<string>FibreChannel.icns</string>
	<key>NSPrefPaneIconLabel</key>
	<string>Fibre Channel</string>
	<key>NSPrefPaneSearchParameters</key>
	<string>FibreChannelPref</string>
	<key>NSPrincipalClass</key>
	<string>FibreChannelPref</string>
</dict>
</plist>
