<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>SharingPref</string>
	<key>CFBundleIconFile</key>
	<string>SharingPref.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.preferences.sharing</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Sharing</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>4.1</string>
	<key>NSMainNibFile</key>
	<string>SharingPref</string>
	<key>NSPrefPaneSearchParameters</key>
	<string>Sharing</string>
	<key>NSPrincipalClass</key>
	<string>AppleSharing_SharingPref</string>
</dict>
</plist>
