[Unit]
Description=CopyCatOS Input Daemon
Documentation=man:cc-inputd(8)
After=systemd-udevd.service
Conflicts=inputplumber.service hhd@.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/cc-inputd
Restart=on-failure
RestartSec=2
ProtectHome=read-only
ProtectSystem=strict
ReadWritePaths=/run /tmp
SupplementaryGroups=input

[Install]
WantedBy=multi-user.target
