<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<integer>1</integer>
	<key>Additions</key>
	<dict>
		<key>com.microsoft.Entourage</key>
		<dict>
			<key>LSFileQuarantineEnabled</key>
			<true/>
		</dict>
		<key>com.microsoft.explorer</key>
		<dict>
			<key>LSFileQuarantineEnabled</key>
			<true/>
		</dict>
		<key>org.mozilla.firefox</key>
		<dict>
			<key>LSFileQuarantineEnabled</key>
			<true/>
		</dict>
		<key>com.omnigroup.OmniWeb5</key>
		<dict>
			<key>LSFileQuarantineEnabled</key>
			<true/>
		</dict>
		<key>com.operasoftware.opera</key>
		<dict>
			<key>LSFileQuarantineEnabled</key>
			<true/>
		</dict>
		<key>jp.hmdt.shiira</key>
		<dict>
			<key>LSFileQuarantineEnabled</key>
			<true/>
		</dict>
		<key>org.mozilla.mozilla</key>
		<dict>
			<key>LSFileQuarantineEnabled</key>
			<true/>
		</dict>
		<key>org.mozilla.navigator</key>
		<dict>
			<key>LSFileQuarantineEnabled</key>
			<true/>
		</dict>
		<key>org.mozilla.camino</key>
		<dict>
			<key>LSFileQuarantineEnabled</key>
			<true/>
		</dict>
		<key>org.mozilla.seamonkey</key>
		<dict>
			<key>LSFileQuarantineEnabled</key>
			<true/>
		</dict>
		<key>org.mozilla.thunderbird</key>
		<dict>
			<key>LSFileQuarantineEnabled</key>
			<true/>
		</dict>
	</dict>
	<key>Overrides</key>
	<dict/>
	<key>MergeDocumentTypes</key>
	<dict>
		<key>com.adobe.Photoshop</key>
		<array>
			<dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>psd</string>
				</array>
				<key>LSHandlerRank</key>
				<string>Owner</string>
			</dict>
		</array>
		<key>com.apple.iWork.Keynote</key>
		<array>
			<dict>
				<key>LSOverride</key>
				<true/>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>ppt</string>
					<string>pptx</string>
				</array>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
			</dict>
		</array>
		<key>com.apple.iWork.Numbers</key>
		<array>
			<dict>
				<key>LSOverride</key>
				<true/>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>xls</string>
					<string>xlsx</string>
				</array>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
			</dict>
		</array>
		<key>com.apple.iWork.Pages</key>
		<array>
			<dict>
				<key>LSOverride</key>
				<true/>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>doc</string>
					<string>docx</string>
				</array>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
			</dict>
		</array>
		<key>com.apple.quicktimeplayer</key>
		<array>
			<dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>mov</string>
				</array>
				<key>LSHandlerRank</key>
				<string>Alternate</string>
			</dict>
			<dict>
				<key>LSOverride</key>
				<true/>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>3g2</string>
					<string>3gp</string>
					<string>aif</string>
					<string>aifc</string>
					<string>aiff</string>
					<string>amc</string>
					<string>amr</string>
					<string>atr</string>
					<string>au</string>
					<string>avi</string>
					<string>dif</string>
					<string>dv</string>
					<string>dvd</string>
					<string>gsm</string>
					<string>kar</string>
					<string>m15</string>
					<string>m1a</string>
					<string>m1s</string>
					<string>m1v</string>
					<string>m2p</string>
					<string>m2s</string>
					<string>m75</string>
					<string>mid</string>
					<string>midi</string>
					<string>mov</string>
					<string>mp2</string>
					<string>mp4</string>
					<string>mpa</string>
					<string>mpeg</string>
					<string>mpg</string>
					<string>mpg4</string>
					<string>mpm</string>
					<string>mqv</string>
					<string>qt</string>
					<string>qtl</string>
					<string>rts</string>
					<string>rtsp</string>
					<string>sd2</string>
					<string>sdp</string>
					<string>smf</string>
					<string>sml</string>
					<string>snd</string>
					<string>ulw</string>
					<string>vfw</string>
					<string>wav</string>
				</array>
				<key>LSIsAppleDefaultForType</key>
				<false/>
			</dict>
		</array>
		<key>com.microsoft.Excel</key>
		<array>
			<dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>xls</string>
					<string>xlsx</string>
				</array>
				<key>LSHandlerRank</key>
				<string>Owner</string>
			</dict>
		</array>
		<key>com.microsoft.Powerpoint</key>
		<array>
			<dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>ppt</string>
					<string>pptx</string>
				</array>
				<key>LSHandlerRank</key>
				<string>Owner</string>
			</dict>
		</array>
		<key>com.microsoft.PowerPoint</key>
		<array>
			<dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>ppt</string>
					<string>pptx</string>
				</array>
				<key>LSHandlerRank</key>
				<string>Owner</string>
			</dict>
		</array>
		<key>com.microsoft.Word</key>
		<array>
			<dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>doc</string>
					<string>docx</string>
				</array>
				<key>LSHandlerRank</key>
				<string>Owner</string>
			</dict>
		</array>
	</dict>
	<key>MinimumVersionRequirements</key>
	<dict>
		<key>com.filemaker.bento</key>
		<string>5050</string>
		<key>com.apple.AddressBook</key>
		<string>828</string>
		<key>com.apple.Automator</key>
		<string>227</string>
		<key>com.apple.calculator</key>
		<string>92</string>
		<key>com.apple.Chess</key>
		<string>2.4.2</string>
		<key>com.apple.DVDPlayer</key>
		<string>5.2</string>
		<key>com.apple.Dictionary</key>
		<string>66</string>
		<key>com.apple.DiskUtility</key>
		<string>298</string>
		<key>com.apple.FontBook</key>
		<string>148</string>
		<key>com.apple.ImageCaptureApp</key>
		<string>412</string>
		<key>com.apple.mail</key>
		<string>1042</string>
		<key>com.apple.PhotoBooth</key>
		<string>106</string>
		<key>com.apple.Preview</key>
		<string>487</string>
		<key>com.apple.quicktimeplayer</key>
		<string>7.6.1</string>
		<key>com.apple.Safari</key>
		<string>6528.9</string>
		<key>com.apple.Sherlock</key>
		<string>200</string>
		<key>com.apple.Stickies</key>
		<string>7.0.0</string>
		<key>com.apple.systempreferences</key>
		<string>7.0</string>
		<key>com.apple.iCal</key>
		<string>1334</string>
		<key>com.apple.iChat</key>
		<string>720</string>
		<key>com.apple.isync</key>
		<string>583.0</string>
		<key>com.apple.iDVD</key>
		<string>797</string>
		<key>com.apple.iPhoto</key>
		<array>
			<string>9.0</string>
			<string>9.0.1</string>
		</array>
		<key>com.apple.iWork.Keynote</key>
		<string>423</string>
		<key>com.apple.Keynote</key>
		<string>137</string>
		<key>com.apple.Aperture</key>
		<string>2.1.1</string>
		<key>com.apple.iMovie7</key>
		<string>506</string>
		<key>com.apple.Xcode</key>
		<string>799</string>
		<key>com.apple.InterfaceBuilder</key>
		<string>463</string>
		<key>com.apple.FileMerge</key>
		<string>792</string>
		<key>com.apple.ThreadViewer</key>
		<string>20.2</string>
		<key>com.apple.spincontrol</key>
		<string>20</string>
		<key>com.apple.MallocDebug</key>
		<string>89</string>
		<key>com.intego.NetUpdate</key>
		<string>10.4.6</string>
		<key>com.intego.VirusBarrierX4</key>
		<string>10.4.4</string>
		<key>com.macromedia.DirectorMX2004</key>
		<string>10.2</string>
		<key>com.asobo.Ratatouille</key>
		<string>1.1</string>
		<key>com.apple.LaunchServices.TestApp_Incompatible</key>
		<string>1.1</string>
		<key>com.parallels.desktop</key>
		<string>4.0</string>
		<key>com.elgato.eyetv</key>
		<array>
			<string>3.0.0</string>
			<string>3.1.0</string>
		</array>
		<key>com.spss.SPSSStatistics.17.0</key>
		<string>17.1</string>
		<key>com.apple.airport.adminutility</key>
		<string>425.2</string>
		<key>com.apple.Stapler</key>
		<string>2.1.1</string>
		<key>com.apple.setup.airport</key>
		<string>9999</string>
		<key>com.apple.airport.assistant</key>
		<string>9999</string>
		<key>com.apple.airport.adminutility</key>
		<string>9999</string>
		<key>com.apple.airport.clientmonitor</key>
		<string>9999</string>
		<key>com.apple.airport.managementutility</key>
		<string>9999</string>
		<key>com.apple.QuickTime Player</key>
		<string>6.5.3</string>
	</dict>
	<key>RosettaRequirements</key>
	<dict>
		<key>com.apple.appleworks</key>
		<string>6.2.9</string>
		<key>com.mackiev.wb2007.installer</key>
		<string>1</string>
	</dict>
</dict>
</plist>
