<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowFileAccessOutsideOfWidget</key>
	<true/>
	<key>AllowInternetPlugins</key>
	<true/>
	<key>AllowNetworkAccess</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>People</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.widget.people</string>
	<key>CFBundleName</key>
	<string>People</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>CloseBoxInsetX</key>
	<integer>8</integer>
	<key>CloseBoxInsetY</key>
	<integer>2</integer>
	<key>Height</key>
	<integer>76</integer>
	<key>MainHTML</key>
	<string>WhitePages.html</string>
	<key>Width</key>
	<integer>335</integer>
	<key>Parser</key>
	<string>whitePagesParser.js</string>

	<key>SyncExclusions</key>
	<array>
		<dict>
			<key>key</key>
			<string>http://www.apple.com/widgets/whitePagesParser.js</string>
			<key>global</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
