<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<string>mchlp2622</string>
	<key>geom</key>
	<string>mchlp2622</string>
	<key>arrn</key>
	<string>mchlp1321</string>
	<key>disp</key>
	<string>mchlp2622</string>
	<key>colr</key>
	<string>mchlp2141</string>
	<key>pref</key>
	<string>mchlp2622</string>
</dict>
</plist>
