<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowFileAccessOutsideOfWidget</key>
	<true/>
	<key>BackwardsCompatibleClassLookup</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Dictionary</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.widget.dictionary</string>
	<key>CFBundleName</key>
	<string>Dictionary</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1</string>
	<key>CFBundleVersion</key>
	<string>2.1</string>
	<key>CloseBoxInsetX</key>
	<integer>15</integer>
	<key>CloseBoxInsetY</key>
	<integer>2</integer>
	<key>Height</key>
	<integer>49</integer>
	<key>MainHTML</key>
	<string>Dictionary.html</string>
	<key>Plugin</key>
	<string>Dictionary.widgetplugin</string>
	<key>Width</key>
	<integer>381</integer>
</dict>
</plist>
