<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Eject</string>
	<key>CFBundleGetInfoString</key>
	<string>2.0.1, Copyright Apple Computer, Inc. 2002-2009</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.menuextra.eject</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Eject</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>213</string>
	<key>NSMenuExtraWidth</key>
	<integer>22</integer>
	<key>NSPrincipalClass</key>
	<string>ProcessExtra</string>
</dict>
</plist>
