<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Dock</string>
	<key>CFBundleGetInfoString</key>
	<string>Dock</string>
	<key>CFBundleIconFile</key>
	<string>Dock.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.preference.dock</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Dock</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>64</string>
	<key>NSMainNibFile</key>
	<string>PrefPane</string>
	<key>NSPrefPaneSearchParameters</key>
	<string>Dock</string>
	<key>NSPrincipalClass</key>
	<string>DockPref</string>
</dict>
</plist>
