<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
	com.apple.preferences.timezone.auto.plist
	AutoTimeZone

	Created by Giovanni Donelli on 2/19/09.
	Copyright 2009 Apple, Inc. All rights reserved.
-->
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.apple.preferences.timezone.auto</string>
		<key>MachServices</key>
		<dict>
			<key>com.apple.preferences.timezone.auto</key>
			<true/>
		</dict>		
		<key>ProgramArguments</key>
		<array>
			<string>/System/Library/PreferencePanes/DateAndTime.prefPane/Contents/Resources/TimeZone.prefPane/Contents/Resources/timezoned.app/Contents/MacOS/timezoned</string>
		</array>
		<key>EnableTransactions</key>
		<true/>
		<key>KeepAlive</key>
		<false/>
		<key>UserName</key>
		<string>_timezone</string>
	</dict>
</plist>
